@model IEnumerable<ReturnRequest>

@{
    ViewBag.Title = "ReturnRequests";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>Name</th><th>Book</th><th>Quantity</th><th></th></tr>
        @foreach (ReturnRequest r in Model)
        {
            <tr>
                <td>@r.UserBook.UserName</td>
                <td>@r.UserBook.Book.Title</td>
                <th>@r.Quantity</th>
                <td>
                    <form asp-action="MarkApproved" method="post">
                        <input type="hidden" name="returnRequestID" value="@r.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Approve
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="text-center">No Unapproved Return Requests</div>
}